# Ignorar el entorno virtual
env/
.venv
.vscode
*.jsonl


# Ignorar archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.spec
*.pdf
*.PDF
*.png
build/
dist/

# Ignorar dependencias si usas pipenv o poetry
Pipfile
Pipfile.lock

# Ignorar la carpeta  de visualcode
.vscode
.vscode/settings.json